*{
    font-family: "Quicksand", sans-serif;
}

body{
    display: flex;
    background-color: black;
    align-items: center;
    flex-direction: column;
}

.principal{
    background-color: black;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 2%;
    padding: 2%;
    width: 92%;
    height: 750px;
}

.choice{
    display: flex;
    width: 100%;
}

.pessoal{
    cursor: pointer;
    background: rgb(251,63,244);
    background: radial-gradient(circle, rgba(251,63,244,1) 0%, rgba(255,42,42,1) 100%);
    font-size: 2em;
    padding: 5%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 40%;
    margin: 3%;
    border-radius: 20px;
    text-align: center;
    font-weight: bolder;
}

.pessoal:hover{
    transform: scale(1.1);
}

.profissional{
    cursor: pointer;
    background: rgb(202,63,251);
    background: radial-gradient(circle, rgba(202,63,251,1) 0%, rgba(74,42,255,1) 100%);
    font-size: 2em;
    padding: 5%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 40%;
    margin: 3%;
    border-radius: 20px;
    text-align: center;
    font-weight: bolder;
}

.profissional:hover{
    transform: scale(1.1);
}

footer{
    color: white;
}
